<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQTaskQueue" type="HB.RabbitMQ.ServiceModel.TaskQueue.RabbitMQTaskQueueBindingElementCollection, HB.RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <rabbitMQTaskQueue>
        <binding/>
      </rabbitMQTaskQueue>
    </bindings>
    <client>
      <endpoint name="SimpleService" address="hb.rmqtq://localhost:5672/Contracts.ISimpleService" binding="rabbitMQTaskQueue" contract="Contracts.ISimpleService"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>