<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQTaskQueue" type="HB.RabbitMQ.ServiceModel.TaskQueue.RabbitMQTaskQueueBindingElementCollection, HB.RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <rabbitMQTaskQueue>
        <binding>
          <readerOptions includeProcessCommandLineInQueueArguments="true"/>
        </binding>
      </rabbitMQTaskQueue>
    </bindings>
    <client>
      <endpoint name="Service1" address="hb.rmqtq://localhost:5672/WcfServer/Service1.svc" binding="rabbitMQTaskQueue" contract="WcfServer.IService1"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>