<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rabbitMQTaskQueueWasConfiguration" type="HB.RabbitMQ.ServiceModel.Hosting.TaskQueue.Configuration.RabbitMQTaskQueueWasConfigurationSection, HB.RabbitMQ.ServiceModel.Hosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8dc59e8682e7de2e"/>
  </configSections>
  <rabbitMQTaskQueueWasConfiguration autoStartServices="false">
    <baseAddresses>
      <add hostname="localhost" port="5672"/>
    </baseAddresses>
  </rabbitMQTaskQueueWasConfiguration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQTaskQueue" type="HB.RabbitMQ.ServiceModel.TaskQueue.RabbitMQTaskQueueBindingElementCollection, HB.RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <rabbitMQTaskQueue>
        <binding>
          <readerOptions includeProcessCommandLineInQueueArguments="true"/>
        </binding>
      </rabbitMQTaskQueue>
    </bindings>
    <services>
      <service name="Service1">
        <endpoint address="hb.rmqtq://localhost:5672/WcfServer" binding="rabbitMQTaskQueue" contract="WcfServer.IService1"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="rabbitMQTaskQueue" scheme="hb.rmqtq"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>